<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="base.css">
    <title>Document</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        .header,
        .footer {
            background: #f0f0f0;
            line-height: 45px;
            text-align: center;
            width: 100%;
            border-bottom: 1px solid #ccc;
        }

        .footer {
            border-bottom: none;
            border-top: 1px solid #ccc;
        }

        .content {
            padding: 0 10px;
        }

        .wrap {}
    </style>
</head>

<body>
    <div id="box">
        <anyi-page-view style="padding-top: 45px; padding-bottom: 51px">
            <div class="header anyi-fixed-top" slot="header">
                我是头部
            </div>
            <div class="content anyi-scroll-content">
                <anyi-card style="margin-top: 20px;">
                    <anyi-card-header slot="card-header" title="按钮组">
                    </anyi-card-header>
                    <anyi-card-body slot="card-body">
                        <anyi-button>
                            默认按钮
                        </anyi-button>
                        <anyi-button type="primary">
                            主要按钮
                        </anyi-button>
                        <anyi-button type="text">
                            文字按鈕
                        </anyi-button>
                        <anyi-button type="primary" size="large" @click="alert('sadfasd')">
                            超大按鈕
                        </anyi-button>
                        <anyi-button type="primary">
                            正常按钮
                        </anyi-button>
                        <anyi-button type="primary" size="small">
                            小型按鈕
                        </anyi-button>
                        <anyi-button type="primary" size="mini">
                            迷你按钮
                        </anyi-button>
                        <anyi-button type="primary">

                        </anyi-button>
                    </anyi-card-body>
                </anyi-card>

                <anyi-loading type="inline">
                    正在加载中...
                </anyi-loading>

                <anyi-radio-group v-model="radio" @change="change">
                    <anyi-radio label="1" :disabled="true" style="margin-right: 10px;">
                        选项1
                    </anyi-radio>
                    <anyi-radio :label="item + 1" v-for="item in 2" style="margin-right: 10px;">
                        选项{{item + 1}}
                    </anyi-radio>
                </anyi-radio-group>

            </div>
            <div class="footer anyi-fixed-bottom" slot="footer">
                我是尾部
            </div>
        </anyi-page-view>
    </div>
    <script src="./vue.min.js"></script>
    <script src="./common.js"></script>
    <script>
        var vm = new Vue({
            el: '#box',
            data: function () {
                return {
                    radio: '1',
                    wrapRadio: '',
                }
            },
            methods: {
                btnClick: function () {
                    console.log(this.radio)
                },
                change: function (value) {
                    console.log(value);
                }
            }
        })
    </script>
</body>


</html>